$theme-colors: (
  "primary":    blueviolet,
  "secondary":  gray,
  "success":    rgb(158, 212, 158),
  "warning":    rgb(232, 232, 136),
  "danger":    red,
  "light":      rgb(244, 241, 241),
  "dark":      rgb(17, 16, 16)
);

$card-border-radius: 30px;
$button-border-radius: 20px;

$input-focus-bg: rgb(33, 86, 139);                     
$input-focus-border-color: rgb(33, 86, 139);

@import '../node_modules/bootstrap/scss/bootstrap.scss'